<h1>Portafolio items</h1>
<a href="portafolios/new">Create a portfolio</a>

<% @portafolio.each do |portafolio| %>
	<p><%= link_to portafolio.title, portafolio_path(portafolio.id)%></p>
	<p><%= portafolio.subtitle %></p>
	<p><%= portafolio.body %></p>
	<%#= portafolio.thumb_image %>
	<%= link_to "Edit", edit_portafolio_path(portafolio.id)%>
<% end %>
