<div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Andres Painting</h1>
        <p class="lead blog-description"></p>
        <%= link_to 'write a new Blog', new_blog_path %>
      </div>
    </div>