<h1>About me</h1>
<hr>

<div class='row'>
	<div class='col-md-4'>
	<%= image_tag "https://render.bitstrips.com/v2/cpanel/76c3b171-f0cf-4dd6-b91f-91bd86693f61-0fe34130-1595-4246-ac72-2bca8f2f58f4-v1.png?transparent=1&palette=1", width: 300, alt: 'profile image' %>
	</div>
	<div class='col-md-8'>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tellus orci, vestibulum commodo viverra vel, semper dictum ipsum. Sed venenatis quam lorem, quis aliquam mauris gravida eu. Fusce imperdiet a urna sollicitudin eleifend. Integer vel vestibulum libero. Suspendisse potenti. Fusce posuere orci non massa tincidunt lobortis. Donec quis orci nibh. Maecenas tristique vitae magna vel eleifend. Vestibulum in tristique ante. Quisque et malesuada tortor. Fusce vestibulum eget diam sit amet vestibulum. Proin id justo lectus. Sed scelerisque ultricies nibh. Praesent ac neque consectetur, ornare turpis ac, semper sem.</p>

	<p>
	eu. Fusce imperdiet a urna sollicitudin eleifend. Integer vel vestibulum libero. Suspendisse potenti. Fusce posuere orci non massa tincidunt lobortis. Donec quis orci nibh. Maecenas tristique vitae magna vel eleifend. Vestibulum in tristique 
	</p>
</div>
