<h1>About me</h1>
<hr>

<div class='row'>
	<div class='col-md-4'>
	<%= image_tag "https://render.bitstrips.com/v2/cpanel/76c3b171-f0cf-4dd6-b91f-91bd86693f61-0fe34130-1595-4246-ac72-2bca8f2f58f4-v1.png?transparent=1&palette=1", width: 300, alt: 'profile image' %>
	</div>
	<div class='col-md-8'>
		<p>His palms are sweaty, knees weak, arms are heavy
There's vomit on his sweater already, mom's spaghetti
He's nervous, but on the surface he looks calm and ready to drop bombs
But he keeps on forgetting what he wrote down, the whole crowd goes so loud
He opens his mouth, but the words won't come out
He's choking how, everybody's joking now
The clock's run out, time's up, over, bloah!</p>
</div>
